.home-container {
  background: #476bcd;
  min-height: 100vh;
  padding: 15px;
  color: white;
}

.wallet-section h1 {
  font-size: 32px;
  margin: 10px 0;
}

.pnl span {
  color: #03c04a;
}

.add-funds {
  background: #f4c542;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.crypto-cards {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background: #1a2438;
  padding: 15px;
  border-radius: 12px;
}

.card h2 {
  margin: 5px 0;
}

.up { color: #03c04a; }
.down { color: #ff4040; }

.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 14px;
}

.tabs .active {
  border-bottom: 2px solid yellow;
}

.post {
  margin-top: 20px;
  background: #1a2438;
  padding: 15px;
  border-radius: 10px;
}

.post-img {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #101624;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #222;
}

.bottom-nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}
